
body{
    background-image: url("../img/bg.jpg");
}


/*     main      */

#main{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.column{
    column-width: 350px;
    column-gap: 15px;
}

.column div, .column figure{
    display: inline-block;
    margin:0;
    margin-bottom: 15px;
    padding:5px;
    padding: 0;
    border-radius: 1.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}


.column .container{
    display: flex;
    position: relative;
    width: 100%;
    height: 500px;
    flex-direction: column;
    background: url('../img/model/model1.jfif');
    background-size: cover;
    
}

.column .container .rectangle{
    width: 100%;
    height: 50%;
    position: absolute;
    background-color: white;
    bottom: 0;
    left:0;
    opacity: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0%;
    margin-bottom: 0;
}
.column .container .profile{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:120px;
    height: 120px;
    min-height: 100px;
    border-radius: 100%;
    opacity: 0;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center; 
}
.column .container .text{
    position: absolute;
    text-align: center;
    left:50%;
    top: 50%;
    transform: translate(-50%,60px);
    opacity: 0;
    color: black;
    box-shadow: none;
}
.column .container:hover .overlay{
    opacity: 1;
}
.column .container:hover .thumbnail{
    opacity: 1;
}

.column figure img, .column div .thumbnail{
    width:100%;
    border-radius: 1.5rem;
    
}

.page_number{
    text-align: center;
}

